In [56]:
from imdb import Cinemagoer
import pandas as pd
import re

In [122]:
df = pd.read_csv('./raw_files/movies_metadata.csv')
id_raw = list(df.imdb_id)
movies = list()

for i in id_raw:
    try:
        id_clean = re.sub('\D', '', i)
        movies.append(id_clean)
    except:
        continue

/var/folders/hl/hq5d39rj61s65dfk1rmq7z1c0000gn/T/ipykernel_54217/1661279126.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./raw_files/movies_metadata.csv')

In [48]:
ia = Cinemagoer()

In [118]:
#This block pulls all the goofs from the movies list, up until >40,000 goofs
#Do not run this - it takes several hours
#rows_list = []
for m in movies:
    try:
        title = ia.get_movie(m)
    except:
        continue
    try:
        goofs = ia.get_movie_goofs(m)['data']['goofs']
        for g in goofs:
            category = g['category']
            goof = g['text']
            dict1 = {'title':title,
                 'category':category,
                 'goof':goof}
            rows_list.append(dict1)
    except:
        category = 'NA'
        goof = 'NA'
        dict1 = {'title':title,
                 'category':category,
                 'goof':goof}
        rows_list.append(dict1)
    if len(rows_list) >= 40000: #finish when the document has collected 40,000 goofs
        break

In [119]:
len(rows_list)

40116

In [109]:
result = pd.DataFrame.from_dict(rows_list)

In [113]:
result.to_csv('./CleanedCSV/goofs.csv')

In [120]:
goofs_csv = pd.read_csv('./CleanedCSV/goofs.csv')

In [121]:
goofs_csv.head()

,Unnamed: 0,title,category,goof
0,0,Toy Story,Audio/visual unsynchronised,When Buzz notices that his cardboard spaceship...
1,1,Toy Story,Audio/visual unsynchronised,"When Buzz and Woody first meet, Buzz points hi..."
2,2,Toy Story,Character error,When Buzz and Woody are trying to get back int...
3,3,Toy Story,Character error,When Sarge looks through his binoculars for th...
4,4,Toy Story,Character error,When all the toys are amazed at Buzz Lightyear...