In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
df=pd.read_csv('./raw_files/movies_metadata.csv')

C:\Users\ym881\AppData\Local\Temp\ipykernel_28140\3159696826.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('./raw_files/movies_metadata.csv')

In [3]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [4]:
reduced_df=df[['adult','original_title','release_date','imdb_id','popularity']]

In [5]:
reduced_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   adult           45466 non-null  object
 1   original_title  45466 non-null  object
 2   release_date    45379 non-null  object
 3   imdb_id         45449 non-null  object
 4   popularity      45461 non-null  object
dtypes: object(5)
memory usage: 1.7+ MB

In [6]:
reduced_df=reduced_df.dropna(how='any')

In [7]:
reduced_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45363 entries, 0 to 45465
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   adult           45363 non-null  object
 1   original_title  45363 non-null  object
 2   release_date    45363 non-null  object
 3   imdb_id         45363 non-null  object
 4   popularity      45363 non-null  object
dtypes: object(5)
memory usage: 2.1+ MB

In [9]:
len(reduced_df['release_date'])

45363

In [10]:
reduced_df['release_date'][0]

'1995-10-30'

In [11]:
for item in reduced_df['release_date']:
    if len(item)!=10: 
        print(item)

22

In [12]:
reduced_df.loc[reduced_df['release_date']=='22',:]

,adult,original_title,release_date,imdb_id,popularity
35587,Avalanche Sharks tells the story of a bikini ...,"[{'iso_639_1': 'en', 'name': 'English'}]",22,0,Beware Of Frost Bites

In [13]:
reduced_df=reduced_df.drop(35587)

In [14]:
len(reduced_df['release_date'])

45362

In [16]:
reduced_df['release_date']=pd.to_datetime(reduced_df['release_date'], format='%Y-%m-%d') #wasn't able to convert

In [19]:
reduced_df.to_csv('./CleanedCSV/reduced_Clean.csv')

In [5]:
reduced_df['adult'].unique()

array(['False', 'True', ' - Written by Ørnås',
       ' Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.',
       ' Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.'],
      dtype=object)

In [6]:
reduced_df.head()

   adult               original_title release_date    imdb_id popularity
0  False                    Toy Story   1995-10-30  tt0114709  21.946943
1  False                      Jumanji   1995-12-15  tt0113497  17.015539
2  False             Grumpier Old Men   1995-12-22  tt0113228    11.7129
3  False            Waiting to Exhale   1995-12-22  tt0114885   3.859495
4  False  Father of the Bride Part II   1995-02-10  tt0113041   8.387519

In [19]:
substring='Toy Story'

In [28]:
for item in reduced_df['adult']:
    item=item.replace('\,', '')
reduced_df.original_title.replace('\,','', inplace=True)

C:\Users\ym881\AppData\Local\Temp\ipykernel_28140\300783384.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_df.original_title.replace('\,','', inplace=True)

In [35]:

test=reduced_df['original_title'].str.contains('\,')
test.unique()

test2= np.where(reduced_df['original_title'].str.contains('\,'), reduced_df['original_title'].str.replace('\,',''), reduced_df['original_title'])
reduced_df['original_title']=test2

C:\Users\ym881\AppData\Local\Temp\ipykernel_28140\1884112112.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  test2= np.where(reduced_df['original_title'].str.contains('\,'), reduced_df['original_title'].str.replace('\,',''), reduced_df['original_title'])
C:\Users\ym881\AppData\Local\Temp\ipykernel_28140\1884112112.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_df['original_title']=test2

In [36]:
reduced_df.head()

   adult               original_title release_date    imdb_id popularity
0  False                    Toy Story   1995-10-30  tt0114709  21.946943
1  False                      Jumanji   1995-12-15  tt0113497  17.015539
2  False             Grumpier Old Men   1995-12-22  tt0113228    11.7129
3  False            Waiting to Exhale   1995-12-22  tt0114885   3.859495
4  False  Father of the Bride Part II   1995-02-10  tt0113041   8.387519

In [37]:
test=reduced_df['original_title'].str.contains('\,')
test.unique()

array([False])

In [39]:
reduced_df.to_csv('./CleanedCSV/reduced_Clean.csv')